/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --header-clr: hsl(240, 9%, 25%);
    --header-txt-clr: rgb(210, 166, 55);
    --text-clr: hsla(240, 9%, 27%, 0.866);
    --text-clr-fade: hsla(240, 9%, 27%, 0.087);
    --grey: hsl(0, 0%, 84%);
}

body {
    font-family: sans-serif;
}

header {
    background-color: var(--header-clr);
    height: 7rem;
    padding: 2rem 0 5rem 2rem;
    font-weight: 600;
}

header .name {
    font-size: 2.0rem;
    color: var(--header-txt-clr);
    letter-spacing: 3px;
}

header .role {
    color: var(--grey);
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.page-title-custom {
    color: var(--header-txt-clr);
}
.app-button {
    color: var(--header-txt-clr);
}
.app-list {
    background-color: var(--header-clr);
}
h1,
h2,
h3 {
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h2,
h3,
h6 {
    margin-bottom: 1rem;
    color: var(--text-clr);
}

section {
    align-self: center;
    text-align: center;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--text-clr-fade);
}

li {
    list-style-type: none;
}

.career ul ul li {
    list-style-type: circle;
    list-style-position: inside;
}



@media screen and (min-width: 768px) {
    header {
        padding: 4rem 0 5rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 15rem;
    }

    section {
        max-width: none;
        width: auto;
        align-self: auto;
        background: none;
    }
}
